<nav class="Navbar">
  <a href="index.html">
    <div class="Navbar__Btn">
      <% if (siteMeta.iconUrl) { %>
        <span><img class="inline-img-icon" src="<%= siteMeta.iconUrl %>"></span>&nbsp;
      <% } %>
      <span>Home</span>
    </div>
  </a>
  <% siteMeta.pages.forEach(function(page) { %>
    <% if (page.publish && page.inMenu) { %>
      <span class="Navbar__Delim">&centerdot;</span>
      <a href="<%= page.url %>">
        <div class="Navbar__Btn">
          <% if (page.iconUrl) { %>
            <span><img class="inline-img-icon" src="<%= page.iconUrl %>"></span>&nbsp;
          <% } %>
          <span><%= page.title %></span>
        </div>
        </a>
      <span class="Navbar__Delim">&centerdot;</span>
      <a href="https://www.reboot-asso.com/">
      <div class="Navbar__Btn">💚 <span style="margin-left: 6px;">re.boot</span></div>
      </a>
      <span class="Navbar__Delim">&centerdot;</span>
      <a href="https://www.linkedin.com/in/valentin-courtaud/">
      <div class="Navbar__Btn" src="https://static.vecteezy.com/system/resources/previews/018/930/587/original/linkedin-logo-linkedin-icon-transparent-free-png.png">
	 </a>
    <% } %>
  <% }) %>
</nav>